{% if my_reviews %}
    {% for review in my_reviews %}
    <div class ="list-item">
        <a class = "list-item-link" href="/review/all/{{review.id}}">
            <div class = "labelled-list-item">
                {% if review.points > 0 %}
                <div style="width:50px; font-size: 30px; color:var(--primary);">
                    +{{review.points}}
                </div>
                {% else %}
                <div style="width:50px; font-size: 30px; color:var(--secondary2);">
                    {{review.points}}
                </div>
                {% endif %}
                <div>
                    <div style="margin:5px;">
                        {{students[review.student_id-1].student_id}}
                    </div>
                    <div style="margin:5px;">
                        {{users[review.staff_id-1].firstname}} {{users[review.staff_id-1].lastname}}
                    </div>
                    <div style="margin:5px;font-style: italic;">
                        "{{review.details}}"
                    </div>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
{% else %}
<div class ="not-selected-message">
    {{none_message}}
</div>
{% endif %}